# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
.venv/
venv/

# Django
db.sqlite3
media/
staticfiles/

# Env files
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Migrations cache
*/migrations/__pycache__/